# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*

# environment variables
.env
.env.production

# macOS
.DS_Store

# fichiers temporaires marques pour suppression
**/_to_delete/
